body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.header {
    width: 100%;
    background-color: #ffffff; /* 背景色を白に設定 */
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 100; /* ヘッダーを他の要素の上に表示するための設定 */
}

.login-form {
    width: 300px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 100px; /* ヘッダーの下にフォームが来るようにマージンを追加 */
}

.login-form h2 {
    text-align: center;
    color: #333333;
}

.login-form form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    margin-bottom: 15px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    padding: 15px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    width: 90%;
}

.login-form input[type="submit"] {
    padding: 10px;
    background-color: #0066cc;
    color: #ffffff;
    cursor: pointer;
    border: none;
    border-radius: 1px;
    font-size: 14px;
    transition: background-color 0.3s;
    width: 100%;
}

.login-form input[type="submit"]:hover {
    background-color: #0052a3;
}

.login-form input[type="button"] {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}

.login-form input[type="button"]:hover {
    background-color: #999;
}
